extend layout

block content   
    form.form(action="/register" method="post")
        h1.form-title Register an account
        label.label(for="username") Username
        input.input(type="text" placeholder="Username" name="username" required)
        label.label(for="Email") Email address
        input.input(type="email" placeholder="Email address" name="email" required)
        label.label(for="password") Password        
        input.input(type="password" placeholder="Password" name="password" required)
        label.label(for="confirm-password") Confirm password  
        input.input(type="password" placeholder="Confirm password" name="confirmPassword" required)  
        //- h1.form-title Choose your preferences
        //input(type="checkbox" name="interests" value="Economy") Economy
        //br
        //input(type="checkbox" name="interests" value="Politics" ) Politics
        //br
        //input(type="checkbox" name="interests" value="Science") Science
        //br
        //input(type="checkbox" name="interests" value="Mathematics" ) Mathematics
        //br
        //input(type="checkbox" name="interests" value="Geography") Geography
        //br
        //input(type="checkbox" name="interests" value="History") History 
        //br
        // input(type="checkbox" name="interests" value="Music") Music
        // br
        //input(type="checkbox" name="interests" value="Art" ) Art
        //br
        //input(type="checkbox" name="interests" value="Business" checked) Business
        //br 
        button.button(type="submit") Register
        h6.reg-h Already have an account? Log in 
            a.reg-l(href="/login") here